{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "ecmaVersion": 8,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "global-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "react/state-in-constructor": [0, "never"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": [
      0,
      {
        "html": "ignore",
        "custom": "ignore"
      }
    ],
    "arrow-body-style": [
     "error",
      "as-needed"
    ],
    "semi": ["error", "never"],
    "no-useless-escape": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  }
}